<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	  <add name="HospitalDb"
	   connectionString="Server=DESKTOP-6AV63O4\\SQLEXPRESS;Database=HospitalDB;Trusted_Connection=True;TrustServerCertificate=True;"
	   providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
